/*div{
	outline:1px solid red;
}*/

.wrapper{
	width: 768px;
	background: #1200ff;
	margin: 0 auto;
}

.header{
	background:#d7d7d7;
	height: 100px;
}

.logo{
	display:inline-block;
	background:#7d7d7d;
	height:70px;
	width:190px;
	text-align:center;
}

#slider, #info{
	background: #e2e2e2;
	color:#363636;
}

#slider p{
	margin: 0px 20px 10px 20px;
	text-align:justify;
}
.slide .item{
	display:block;
	text-decoration:none;
	text-align:center;
	width:150px;
	float:left;
}

.slide{
	text-align:center;
	border:1px solid red;
}

.slide .item img{
	width:150px;
}

.slide .item .label{
	color:#363636;
}
.pagination{
	text-align:center;
}

.pagination .item{
	display:inline-block;
	background: url("../img/sprite2.png") -16px 0px no-repeat;
	width: 15px;
	height: 15px;
	margin-top:10px;
}

.clearfix{
	clear:both;
}










#catalog, #contact{
	background: #363636;
	color:#e2e2e2;
}

#footer{
	height: 200px;
	background: #e2e2e2;
	color:#363636;
}

#catalog td{
/*	border: 1px solid red; */
	width:20px;
	text-align:center;
	background: #4b4b4b;
	font-size: 14px;
	
}

#catalog td:first-child{
/*	border: 1px solid red; */
	text-align:left;
	width:400px;
}

#contact form{
	 width:350px; 
}