$color:black;
$h_bg: #2e2e2e;
$logo_bg: #7d7d7d;
$lightgray: #e2e2e2;
$darkgray: #363636;
$table_bg: #4b4b4b;

/*---------------GRID-----------------*/

$base-columns-amount: 16;

@for $i from 1 through $base-columns-amount{
	$minimum-column-width: 100% / $i;
	.grd-fill-column#{$i} {
		width: $minimum-column-width;
	}
}

@for $i from 1 through $base-columns-amount {
	$minimum-column-width: 100% / $base-columns-amount;
	.grd-step-column#{$i} {
		width: $minimum-column-width * $i
	}
}

.grd-row{
	font-size:0;
}

[class*="grd-step-column"]{
	display:inline-block;
	vertical-align:middle;
	font-size:14px;
	padding:0 5px;
}


/*fixes pointers justifier*/

*{
box-sizing:border-box
}

*:before, *:after{
	box-sizing:inherit;
}

.pointer{
	cursor:pointer;
}

.f-left{
	float:left;
}

.f-right{
	float:right;
}

.clearfix {
	clear : both;
}

.m-justifier{
	text-align:justify;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

/*----------------------------------------*/


body {
	background : url("../img/bck.png") repeat;
	background-attachment : fixed;
}

h2 {
	margin : 0 0 15px 0;
	text-align : center;
}

p{
	margin:0;
}

.wrapper {
	width : 768px;
	margin : 0 auto;
	box-shadow: 5px 0px 30px rgb(0,0,0);
}

.promo {
	padding : 10px 40px 20px 40px;
}


/*----------------------------------HEADER----------------------------*/

header {
	background : $h_bg;
	position : relative;
	.logo {
		display : block;
		position:absolute;
		top:12px;
		left:50px;
		background : $logo_bg;
		height : 75px;
		width : 165px;
		line-height : 70px;
		text-align : center;
		float : left;
		border-radius: 3px;
		box-shadow: 5px 5px 10px rgb(0,0,0);
		img {
			width : 150px;
			vertical-align : middle;
		}
	}
	.anchors_header {
		display : block;
		text-align:right;
		a {
			font-size:16px;
			display : inline-block;
			color : $lightgray;
			text-transform : uppercase;
			text-decoration : none;
			font-weight : bold;
			padding : 20px;

			transition:background-color .2s ease-in-out;
			&:hover{
				background : #4c4c4c;
			}
		}
	}
}

/*----------------------------------HEADER2---------------------------*/

.header2 {
	padding-top : 30px;
	background : $darkgray;
	.header2_text {
		color : $lightgray;
		text-transform : uppercase;
		font-size:16px;
	}
}

/*---------------------------------SLIDER----------------------------*/

.slider {
	background : $lightgray;
	color : $darkgray;
	text-align : center;
	.slider_container {
		position:relative;
		border-top:2px solid $darkgray;
		padding-top:15px;
		.arrow {
			position : absolute;
			display : block;
			text-decoration : none;
			text-align : center;
			&:nth-child(1){
				left:15px;
			}
			&:nth-child(2){
				right:20px;
			}
			img {
				height : 130px;
			}
		}
		.slide {
			display : inline-block;
			.item{
				text-decoration : none;
				text-align : center;
				display:inline-block;
				margin : 5px;
				img{
					width : 130px;
				}
				.label{
					color : $darkgray;
					font-size:12px;
					font-weight:bold;
					margin-top:3px;
				}
			}
		}
	}
	.pagination {
		text-align : center;
		.item {
			display : inline-block;
			background : url("../img/sprite21.png") no-repeat -129px -241px;
			width : 15px;
			height : 15px;
			margin-top : 5px;
			&:hover{
				background : url("../img/sprite21.png") no-repeat 0px 0px;
			}
		}
	}
}
/*--------------------------------CATALOG-----------------------------*/

.catalog {
	background : $darkgray;
	color : $lightgray;
	.catalog_table {
		display : block;
		float : left;
		width : 400px;
		tr:nth-child(2n){
			td{
			background-color:lighten($table_bg,5%);
			}
		}
		td{
			width : 20px;
			text-align : center;
			background : $table_bg;
			font-size : 14px;
			padding : 3px;
			&:first-child {
				text-align : left;
				width : 400px;
			}
			&:nth-child(2):hover, &:nth-child(3):hover{
				background-color: lighten($table_bg,20%);
				transition: background-color .2s ease-in-out;
			}
		}
	}
	.table_pages {
		margin-left : 2px;
		span {
			display : inline-block;
			text-align : center;
			background : $table_bg;
			font-size : 14px;
			color : $lightgray;
			text-decoration : none;
			width : 20px;
			padding : 2px;
			margin-top : 5px;
			&:hover{
				background-color: lighten($table_bg,20%);
				transition: background-color .2s ease-in-out;
			}
		}
		.active{
			background : lighten($table_bg, 25%);
			cursor:default;
			&:hover{
				background-color: lighten($table_bg,25%);
			}
		}
	}
	.image_container {
		display : block;
		width : 250px;
		height : 250px;
		background : $table_bg;
	}
}



/*---------------------------------INFO-------------------------------*/

.info {
	background : $lightgray;
	color : $darkgray;
	text-align : justify;
	.leftimg {
		margin : 0 5px 0 0;
		width : 150px;
	}
	.rightimg {
		margin : 0 0 0 5px;
		width : 150px;
		height: 200px;
		position:relative;
		.bigpic{
			height:150px;
			width:150px;
		}
		.pics{
			margin-top:5px;
			.pic1, .pic2, .pic3{
				display:inline-block;
				width:40px;
				height:40px;
				img{
					width:40px;
					height:40px;
				}
			}
			.pic1{
				.big{
					left:0;
				}
			}
			.pic2{
				.big{
				left:50%;
				margin-left:-74px;
				}
			}
			.pic3{
				.big{
					right:-1px;
				}
			}
		}
	}
}

/*--------------------------------CONTACT-----------------------------*/

.contact {
	background : $darkgray;
	color : $lightgray;
	.contact_form {
		background : $table_bg;
		display : block;
		float : left;
		width : 350px;
		font-size : 14px;
		box-shadow: 2px 2px 20px rgb(0,0,0);
		.form_container{
			padding:5px;
			p {
				margin : 5px 0;
			}
			h3 {
				margin : 0;
			}
			.text_container {
				display : block;
				input[type="text"] {
					display : block;
					float : right;
					width : 200px;
				}
			}
			.name{
				border-top : 2px solid $lightgray;
				padding : 5px 0 0 0;
			}
			.email{
				border-bottom: 2px solid $lightgray;
				padding : 5px 0;
			}
			.topic_label {
				display : block;
				margin : 5px 0;
				.topic{
					display : block;
					float : right;
					width : 204px;
				}
			}
			textarea {
				display : block;
				width : 314px;
				margin-bottom:5px;
				resize:none;
			}
			.captcha {
				text-align : center;
				border-top : 2px solid $lightgray;
				padding-left : 5px;
				label{
					letter-spacing : 5px;
					font-weight : bold;
				}
				input[type="text"] {
					display : inline-block;
					clear : both;
					width : 200px;
					float : none;
					margin-left : 5px;
				}
			}
			.buttons_container{
				text-align : center;
				input[type="submit"], input[type="reset"] {
					margin : 5px 0 0 5px;
					display : inline-block;
					width : 100px;
					border : none;
				}
			}
		}
	}
	.contact_image {
		float : right;
		width : 300px;
		margin-top : 30px;
	}
}

/*-------------------------------FOOTER-----------------------------*/

footer {
	background : $lightgray;
	color : $darkgray;
	position : relative;
	padding-left:40px;
	.anchors_footer {
		font-size:0px;
		text-align:right;
		padding:0px;
		a {
			font-size:16px;
			display : inline-block;
			color : $darkgray;
			text-transform : uppercase;
			text-decoration : none;
			font-weight : bold;
			padding : 20px;
			transition:background-color .2s ease-in-out, color .2s ease-in-out;;
			&:hover {
				background : #4c4c4c;
				color : $lightgray;
			}
		}
	}
	.social {
		a{
			display : inline-block;
			width : 50px;
			height : 51px;
		}
	}
}

$i:0;

@each $sprite in facebook, twitter, google{
	.#{$sprite} {
		background: url("../img/social.png") #{$i}px -1px no-repeat;
		&:hover{
		background: url("../img/social.png") #{$i}px -51px no-repeat;}
	}
	$i: $i - 50;
}


/*-----------------------------ADMIN PANEL---------------------------*/


.panel {
	position : fixed;
	top : 50%;
	width : 40px;
	height : 200px;
	background : url("../img/adm.png") #001fa7;
	margin-top : -100px;
	left : 0px;
	opacity:0.97;
	transition-duration:0.5s;
	&:hover{
		left : 400px;
	}
	.admin_Content {
		height : 400px;
		width : 400px;
		background : url("../img/bck.png") repeat;
		position : absolute;
		right : 40px;
		margin-top : -100px;
		box-shadow: 0px 0px 20px rgb(0,0,0);
		.discount_form{
			margin:10px;
			legend{
				color:white;
				font-weight:bold;
			}
			.dmy{
				.date{
					width:100px;
					display: inline-block;
				}
			}
			.adm_button{
				width:100%;
			}
		}
	}
}


/*--------------------------------OVERLAY------------------------------*/
.overlay{
	background: url("../img/overlay.png");
	width:100%;
	height:100%;
	position:fixed;
	z-index:999;
	top:0;
	text-align:justify;
	display:none;						/**/
	.leftimg {
		margin : 0 5px 0 0;
		width : 150px;
	}
	dialog{
		display:block;
		background:white;
		width:800px;
		top:50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%) translateX(-50%);
		-moz-left:50%;
		position:fixed;
		padding:20px;
	}
	.some_list {
		float:left;
		ul {
			list-style:none;
			margin:0;
			padding:10px;
		}
		input[type="radio"]{
			margin: 0 10px;
		}
	}
	.timer{
		padding:10px;
		float:right;
		span{
			font-size:40px;
			display:inline-block;
			position:relative;
		}
		.numbers{
			border: 5px outset lightgray;
			border-radius: 5px;
			padding: 10px;
			box-shadow: inset 0px 0px 15px 1px;
			&:before{
				content: '';
				display: block;
				position: absolute;
				width:100%;
				left:0;
				top:50%;
				height:2px;
				background:white;
			}
		}
	}
}
