

html{
	height:100%;
}

body{
	height:100%;
}


h2{
	margin:0;
}


.left{
	float:left;
}

.right{
	float:right;
}

.clearfix{
	clear:both;
}


.wrapper{
	position:relative;
	width: 800px;
	background: #f5f5f5;
	height:100%;
	margin:0px 5px;
}

/*-------------------------HEADER-------------------------*/

header{
    height: 12.5%;
    background: #18202b;
	position:relative;
}

.viewinbrowser{
    height: 26px;
    background: #141B27;
	position:absolute;
	top:0;
	width:100%;
}

/*-------------------------FEATURED-------------------------*/

.featured{
	height:44.5%;
	background:#1e2735;
	padding:0 70px;
}

.featured h2{
	color: white;
}

/*-------------------------WHITEBG-------------------------*/
.white_bg{
	height: 22%; 
	background:white;
}


/*-------------------------FOOTER-------------------------*/
footer{
	background:#1e2735;
	height:21%;
	position:relative;
}

.footer_bot {
	height: 75px;
	background:#121821;
	position:absolute;
	bottom:0;
	width:100%;
}

.logo{
	height:125px;
	width:40%;
}
.social{
	height:125px;
	width:40%;
}

/*---------------------------MAIN_ASIDE-----------------------*/

.main_aside{
    background: white;
    overflow-y: scroll;
    height: 45%;
    position: absolute;
    box-shadow: 0px 8px 21px -10px #000000;
    z-index: 1;
    top: 40%;
    margin-left: 70px;
}

main{
    height: 100%;
    width: 415px;
	float:left;
}

main section{
	margin: 25px 10px 25px 20px;
}

.section1{
	height: 225px;

}
.section1 .left{
	width: 200px;
	font-size: 12px;
}

.section1 .right{
    width: 163px;
    height: 142px;
    background: grey;
    margin-right: 7px;
}



aside{
    height:100%;
	width: 228px;
	float:right;
}

aside section{
	margin: 25px 20px 25px 10px;
	font-size: 12px;
}


